.tooltip{
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 2px black 0 0 0 6px rgba(0, 0, 0, .6);
    padding: .5rem;
    color: white;
    font-weight: bold;
    font-size: .805rem;
    max-width: 150px;
    border: 2px;
    left: 0px;
    top: 0px;
    
}